## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [7]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [34]:
sample_list_1 = random.sample(range(100), k=80)
print (sample_list_1)

[68, 84, 41, 13, 38, 96, 85, 39, 70, 52, 53, 2, 46, 51, 69, 24, 97, 62, 45, 94, 42, 86, 48, 28, 40, 31, 29, 99, 14, 72, 1, 34, 5, 65, 60, 91, 89, 73, 93, 27, 87, 3, 26, 98, 0, 21, 77, 15, 54, 37, 80, 75, 82, 18, 43, 76, 36, 7, 25, 32, 17, 59, 9, 95, 92, 63, 61, 57, 33, 74, 56, 20, 35, 10, 47, 22, 4, 23, 67, 49]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [35]:
sample_list_1 = [3, 1, 64, 7, 74, 35, 62, 37, 12, 45, 57, 25, 32, 4, 58, 29, 5, 63, 77, 79, 68, 61, 75, 48, 30, 53, 73, 39, 16, 33, 19, 69, 21, 40, 18, 46, 10, 14, 8, 13, 56, 9, 59, 2, 65, 71, 66, 43, 80, 47, 27, 6, 31, 49, 34, 55, 60, 11, 42, 54, 22, 24, 23, 44, 70, 17, 50, 78, 52, 15, 26, 51, 67, 41, 20, 28, 72, 38, 36, 76]

set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [36]:
sample_list_2 = []
for i in range(100):
    sample_list_2.append(random.randit(0, 80))
print(sample_list_2)

AttributeError: module 'random' has no attribute 'randit'

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [37]:
# Your code here
set2 = set(sample_list_2)
len(set2)

0

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [38]:
set3 = set1.difference(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [39]:
# Your code here
set4 = set1.difference(set2)
print(set4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [ ]:
# Your code here
set5 = set1.difference(set2)
print(set5)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [41]:
set6 = {}
set6 = set(set6)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [42]:
set6.update(set5, set3)
print(set6)

NameError: name 'set5' is not defined

#### Check if `set1` and `set6` are equal.

In [43]:
print(set1 == set6)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [44]:
contains = set2.issubset(set1)
print(contains)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [45]:
result = set3.union(set4, set5)
print(result)

NameError: name 'set5' is not defined

#### Using the `pop` method, remove the first element from `set1`.

In [46]:
set1.pop()
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [47]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80}